# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Certificate Directory
security

# Add Gradle Wrappe Exception
!gradle/wrapper/gradle-wrapper.jar
